:root {
    --color-gold: #BDAE82;
    --color-black: #000;
    --color-white: #fff;

    --font-size1: 18px;
    --font-size2: 20px;
    --font-size3: 24px;
    --font-size4: 28px;
    --font-size5: 40px;
    --font-size6: calc(40px + 20 * (100vw / 1440));
    --font-size7: 32px --line-height1:159%;
    --line-height2: 165%;
    --line-height3: 207%;
    --line-height4: 40px;
    --line-height5: 36px;
    --line-height6: 48px;

    --width-title: 700px;
}





.container {
    font-family: "Inter", "Merriweather", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--color-black);

}

.popup {

    position: fixed;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 0.3s all;
    z-index: 100;


}

.active {
    left: 19%
}

.popup>ul {
    padding-top: 106px;
    padding-left: 128px;
    font-size: 35px;
    line-height: 171%;
    display: flex;
    flex-direction: column;
    gap: 29px;



}


.popup__navigation {
    text-decoration: none;
    color: #fff;

}


.popup__home {
    color: #fff
}

.popup__home:hover {
    color: var(--color-gold);
}



.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 20px;
    z-index: 99;

}

.stickyHeader {

    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.377);
    width: 98%;




}






.ico {
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 768px;

}


#ico {
    transition: fill 0.2s ease-in-out;
}

.ico:hover #ico {
    fill: var(--color-gold);
}

.home {

    color: var(--color-white);
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height3);
    text-align: left;
    vertical-align: top;
    margin-right: 31px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;



}

.home:hover {
    color: var(--color-gold);
}

.navigation__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0;
}



li {
    list-style-type: none;

}

.navigation__link {
    text-decoration: none;
    color: var(--color-white);
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height3);
    color: var(--color-white);
    text-align: left;
    vertical-align: top;
    margin-right: 31px;
    transition: color 0.2s ease-in-out;

}

.navigation__link:hover {
    color: var(--color-gold);
}

.switch__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
}

.switch {
    transition: color 0.2s ease-in-out;

}

.stickySwitch {
    padding-left: 490px;
}

.switch__en {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height3);
    text-align: center;
    font-weight: bold;
    margin-right: 9px;
    vertical-align: top;
    color: var(--color-white);
    cursor: pointer;
}

.switch__en:hover {
    color: var(--color-gold);
}

.switch__divide {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height3);
    text-align: center;
    font-weight: bold;
    color: var(--color-white);
    vertical-align: top;
    margin-right: 9px;
}



.switch__ru {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height3);
    text-align: center;
    font-weight: bold;
    color: var(--color-white);
    vertical-align: top;
    cursor: pointer;
}

.switch__ru:hover {
    color: var(--color-gold);
}



.burger {
    position: fixed;
    top: 25px;
    left: 85%;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    gap: 10px;
    padding-top: 5px;
    cursor: pointer;
    z-index: 100;


}





.burger:hover .burger__menu {
    background-color: var(--color-gold);

}




.burger__menu {
    height: 3px;
    background-color: #fff;
    transition: 0.3s all;

}





.burger__menu.burActive:nth-child(2) {
    opacity: 0;
}

.burger__menu.burActive:nth-child(1) {
    transform: translateY(14px) rotate(45deg);


}


.burger__menu.burActive:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);




}






.hero {
    margin-top: -82.39px;
    padding-top: 259.5px;
    background-image: url(./assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 330px;
    margin-bottom: 115px;

}

.stickyHero {
    margin-top: 0px;
}

.hero__box {
    max-width: 470px;
    padding-left: 80px;
}

.hero__title {
    font-family: "Merriweather", sans-serif;
    font-size: var(--font-size6);
    line-height: var(--line-height2);
    text-align: left;
    vertical-align: top;
    color: var(--color-white);
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 21px;
}

.hero__content {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height4);
    text-align: left;
    vertical-align: top;
    color: var(--color-white);
    max-width: 470px;
    margin-bottom: 25.5px;
    margin-top: 0;
    margin-right: 0;
}

.hero__button {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height4);
    text-align: center;
    vertical-align: top;
    color: var(--color-black);
    border: none;
    padding: 9px 74px 5.5px 73px;
    background-color: var(--color-gold);
    cursor: pointer;

}

#skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 88px;

}

.skills__title-box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    z-index: -1;
}

.skills__title {
    position: relative;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    width: 48.6%;
    color: var(--color-gold);
    font-weight: bold;
    font-size: var(--font-size5);
    line-height: var(--line-height1);
    text-align: center;
}

.skills__title::before {
    display: block;
    position: absolute;
    width: 274px;
    content: '';
    border-bottom: solid 2px var(--color-gold);
    top: 48%;
    right: 426px;
}

.skills__title::after {
    display: block;
    position: absolute;
    width: 274px;
    content: '';
    border-bottom: solid 2px var(--color-gold);
    top: 48%;
    left: 426px;
}

.skills__sub-title {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.skills__foto-box {
    max-width: 320px;
    background-image: url(./assets/svg/camera\ 1.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 62px 50px;
}

.skills__video-box {
    max-width: 320px;
    background-image: url(./assets/svg/video\ 1.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 60px 50px;
}

.skills__retouch-box {
    max-width: 320px;
    background-image: url(./assets/svg/retouch.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 66px 50px;
}

.skills__audio-box {
    max-width: 320px;
    background-image: url(./assets/svg/mic\ 1.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 32px 50px;
}

.skills__foto {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size2);
    line-height: var(--line-height4);
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}

.skills__video {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size2);
    line-height: var(--line-height4);
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}

.skills__retouch {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size2);
    line-height: var(--line-height4);
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}

.skills__audio {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size2);
    line-height: var(--line-height4);
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}

.skills__foto-content {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size1);
    line-height: var(--line-height5);
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 38px;
    padding-right: 20px;
    padding-left: 20px;
}

.skills__video-content {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size1);
    line-height: var(--line-height5);
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 38px;
    padding-right: 20px;
    padding-left: 20px;
}

.skills__retouch-content {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size1);
    line-height: var(--line-height5);
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 38px;
    padding-right: 20px;
    padding-left: 20px;
}

.skills__audio-content {
    font-family: "Inter", sans-serif;
    color: var(--color-white);
    font-size: var(--font-size1);
    line-height: var(--line-height5);
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 38px;
    padding-right: 20px;
    padding-left: 20px;
}

#portfolio {
    position: relative;
    margin-bottom: 115px;


}

.portfolio__title-box {
    overflow: hidden;
    display: flex;
    justify-content: center;


}

.portfolio__title {
    position: relative;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    width: 48.6%;
    color: var(--color-gold);
    font-weight: bold;
    font-size: var(--font-size5);
    line-height: var(--line-height1);
    text-align: center;
    margin-bottom: 73px;

}

.portfolio__title::before {
    position: absolute;
    display: block;
    content: '';
    width: 239px;
    border-bottom: solid 2px var(--color-gold);
    top: 48%;
    right: 461px;
}

.portfolio__title::after {
    position: absolute;
    display: block;
    content: '';
    width: 239.5px;
    border-bottom: solid 2px var(--color-gold);
    top: 48%;
    left: 459px;
}

.portfolio__button-left {
    position: absolute;
    left: 13%;
    top: 400px;
    width: 120px;
    height: 70px;
    border: 2px solid var(--color-gold);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.3s all;
    z-index: 1;

}


.portfolio__button-right {
    position: absolute;
    right: 13%;
    top: 400px;
    width: 120px;
    height: 70px;
    border: 2px solid var(--color-gold);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.3s all;

}


.portfolio__button-left:hover {
    width: 130px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.377);
}



.portfolio__button-right:hover {
    width: 130px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.377);
}

.portfolio__button-left:hover .button-left {
    width: 39px;
}

.portfolio__button-right:hover .button-right {
    width: 39px;
}


.button-left {
    width: 30px;
    height: 3px;
    background-color: var(--color-gold);
    margin-left: 40px;
    transition: .3s all;

}

.button-left:nth-child(1) {
    transform: translateY(7px) rotate(-45deg);
}

.button-left:nth-child(2) {
    transform: translateY(-7px) rotate(45deg);
}


.button-right {
    width: 30px;
    height: 3px;
    background-color: var(--color-gold);
    margin-left: 50px;
    transition: .3s all;
}

.button-right:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.button-right:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);
}

.slider {
    display: block;
    width: 450px;
    height: 560px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--color-gold);
    border-radius: 10px;

}


.portfolio__img-box {
    position: relative;
    width: 100%;
    /* height: 100%; */
    left: 0px;
    top: 0;
    margin: 0;
    padding: 0;



}

.portfolio__img {
    position: absolute;
    top: 0;

}

.portfolio__img:nth-child(1) {
    left: 0%;
}

.portfolio__img:nth-child(2) {
    left: 100%;
}

.portfolio__img:nth-child(3) {
    left: 200%;
}

.portfolio__img:nth-child(4) {
    left: 300%;
}

.portfolio__img:nth-child(5) {
    left: 400%;
}

.portfolio__img:nth-child(6) {
    left: 500%;
}

.portfolio__img:nth-child(7) {
    left: 600%;
}

.portfolio__img:nth-child(8) {
    left: 700%;
}


#video {
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.video__title-box {
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.video__title {
    margin: 0;
    position: relative;
    font-family: "Merriweather", sans-serif;
    color: var(--color-gold);
    font-size: var(--font-size5);
    line-height: var(--line-height1);
    font-weight: bold;
    width: 48.6%;
    text-align: center;
    margin-bottom: 74px;
    z-index: -1;
}

.video__title::before {
    display: block;
    position: absolute;
    content: '';
    border-bottom: solid 2px var(--color-gold);
    width: 273px;
    top: 48%;
    right: 429px;

}

.video__title::after {
    display: block;
    position: absolute;
    content: '';
    border-bottom: solid 2px var(--color-gold);
    width: 272px;
    top: 48%;
    left: 429px;
}

.video__player-container {
    cursor: pointer;
    max-width: 1440px;
    height: 650px;
    margin: 0 auto;
    position: relative
}

video {
    width: 100%;
    height: 650px;
    object-fit: cover;
}




.video__play {
    position: absolute;
    top: 41%;
    left: 41%;
    width: 129.86px;
    height: 130px;
    background-repeat: no-repeat;
    cursor: pointer;

}

.video__play-active {
    display: none;
}

.video__play:hover #video__play {
    fill: var(--color-gold);
}

.video__pause {
    display: none;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 92%;
    left: 25px;
    border-left: 4px solid var(--color-gold);
    border-right: 4px solid var(--color-gold);
    transition: .3s all;

}

.video__pause-span {

    width: 35px;
    height: 4px;
    background-color: var(--color-gold);
    transition: .3s all;

}



.video__pause-span:nth-child(1) {
    transform: translateY(9px) translateX(-6px) rotate(35deg);
}

.video__pause-span:nth-child(2) {
    transform: translateY(-5px) translateX(-6px) rotate(-35deg);
}

.video__pause-active {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.video__stop {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 92%;
    left: 70px;
    background-color: var(--color-gold);
}

.video__stop-active {
    display: block;
}

progress {
    display: none;
    width: 85%;
    height: 40px;
    position: absolute;
    top: 92%;
    left: 125px;
    border-radius: 0;
    background-color: var(--color-gold);
    z-index: 1;
}

progress::-webkit-progress-bar {
    background-color: var(--color-gold);
}

progress::-webkit-progress-value {
    background-color: blue;
}

.progress-active {
    display: block;
}

.fullscreen {
    display: none;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 91%;
    left: 95%;
    background-image: url(./assets/svg/icons8-полный-экран-50.svg);
    background-repeat: no-repeat;
    background-size: contain;

}


#price {
    margin-bottom: 100px;
}

.price__title-box {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}


.price__title {
    position: relative;
    font-family: "Merriweather", sans-serif;
    text-align: center;
    color: var(--color-gold);
    font-size: var(--font-size5);
    line-height: var(--line-height1);
    font-weight: bold;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    width: 48.6%;
    z-index: -1;
}

.price__title::before {
    position: absolute;
    display: block;
    content: '';
    border-bottom: solid 2px var(--color-gold);
    top: 45%;
    width: 279px;
    right: 422px;
}

.price__title::after {
    position: absolute;
    display: block;
    content: '';
    border-bottom: solid 2px var(--color-gold);
    top: 45%;
    width: 279px;
    left: 422px;
}

.price__sub-title-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}



.price__sub-title-box {
    width: 100%;
    height: auto;
    text-align: center;
    border: solid 2px var(--color-gold);
    max-width: 445.5px;
    padding-top: 50px;
    padding-bottom: 41px;
}




.price__sub-title {
    font-family: "Merriweather", sans-serif;
    font-size: 28px;
    line-height: var(--line-height1);
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 30px;
    margin-top: 0;
}

.price__price-tag {
    font-family: "Merriweather", sans-serif;
    font-size: 24px;
    line-height: var(--line-height6);
    color: var(--color-gold);
    margin-top: 0;
    margin-bottom: 21px;

}

.price__content {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: var(--font-size1);
    line-height: var(--line-height5);
    color: var(--color-white);
    margin-bottom: 40px;
}

.price__button {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    color: var(--color-black);
    background-color: var(--color-gold);
    border: none;
    padding: 17px 39px 12px 40px;
    cursor: pointer;
}



#contacts {
    display: flex;
    justify-content: right;
    background-image: url(./assets/img/contacts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 20px;
    padding-top: 76px;
    padding-bottom: 193px;
    margin-bottom: 56px;
}


.contacts__container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 450px;
}


.contacts__title {
    font-family: "Merriweather", sans-serif;
    font-size: var(--font-size5);
    line-height: var(--line-height1);
    color: var(--color-gold);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 55px;
}

input {
    display: block;
    border: solid 2px var(--color-gold);
    margin-bottom: 21px;
    background: none;
    resize: none;
    padding-top: 18px;
    padding-left: 17px;
    padding-bottom: 12px;
}

input:focus {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height2);
    color: var(--color-white);
    outline: 0;
    border-color: var(--color-white);


}

input::placeholder {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height2);
    color: var(--color-gold);
}

textarea {
    border: solid 2px var(--color-gold);
    background: none;
    padding-top: 8px;
    padding-left: 17px;
    overflow: hidden;
    margin-bottom: 30px;
    padding-bottom: 57px;

}

textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height2);
    color: var(--color-gold)
}

textarea:focus {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height2);
    color: var(--color-white);
    outline: 0;
    border-color: var(--color-white);
}


.contacts__button {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height2);
    color: var(--color-black);
    border: none;
    background-color: var(--color-gold);
    padding: 15px 43px 9px 39px;
    cursor: pointer;
}


.info {
    display: flex;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.info__box {
    display: flex;
    justify-content: center;
}

.info__c-box {
    padding-top: 9px;
    margin-right: 19px;
}

.info__c {
    width: 19px;
    height: 19px;
    background-image: url(./assets/svg/©.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.info__year {
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height3);
    color: var(--color-white);
    margin-top: 0;
    margin-right: 20px;
    vertical-align: top;
}

.info__link-github {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height3);
    color: var(--color-white);
    transition: color 0.2s ease-in-out;
}

.info__link-school {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: var(--font-size2);
    line-height: var(--line-height3);
    color: var(--color-white);
    padding-left: 16px;
    transition: color 0.2s ease-in-out;
}

.info__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 4px;
}

.info__link-inst {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

#inst {
    transition: all 0.2s ease-in-out;
}

.info__link-inst:hover #inst {
    fill: var(--color-gold);
    transform: scale(1.1);

}

#facebook {
    transition: all 0.2s ease-in-out;
}

.info__link-facebook {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}


.info__link-facebook:hover #facebook {
    fill: var(--color-gold);
    transform: scale(1.1);
}

#twitter {
    transition: all 0.2s ease-in-out;
}

.info__link-twitter {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.info__link-twitter:hover #twitter {
    fill: var(--color-gold);
    transform: scale(1.1);
}

#pinterest {
    transition: transform 0.2s ease-in-out;
}

.info__link-pinterest {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}


.info__link-pinterest:hover #pinterest {
    transform: scale(1.1);
    fill: var(--color-gold);
}

a:hover {
    color: var(--color-gold);
}

button:focus {
    background-color: var(--color-gold);
    color: var(--color-black);
}


button:hover {
    color: var(--color-white);
}

button {
    transition: color 0.2s ease-in-out;
}


@media (max-width:1960px) {

    .ico {
        margin-right: auto;

    }

    .video__wrapper {
        display: none;
    }

    .burger {
        display: none;
    }

    .burger__navigation {
        display: none;
        z-index: 1;

    }

    .video__button-wrapper {
        display: none;
    }
}

progress {
    width: 80%;
}

.fullscreen {
    left: 93%;
}


@media (max-width:1440px) {
    .ico {
        margin-right: auto;

    }
}



@media (max-width:1440px) {
    .ico {
        margin-right: auto;

    }
}

@media (max-width:1290px) {
    .portfolio__button-left {

        top: 350px;

    }


    .portfolio__button-right {

        top: 350px;

    }
}



@media (max-width:1100px) {
    .portfolio__button-left {
        left: 9%;
        top: 350px;

    }


    .portfolio__button-right {
        right: 9%;
        top: 350px;
    }

    progress {
        width: 75%;
    }

    .fullscreen {
        left: 91%;
    }
}




@media (max-width:900px) {
    .portfolio__button-left {

        left: 27%;
        top: 360px;

    }


    .portfolio__button-right {

        right: 27%;
        top: 360px;

    }

    progress {
        width: 70%;
    }

    .fullscreen {
        left: 89%;
    }
}



@media (max-width:768px) {

    :root {
        --color-gold: #BDAE82;
        --color-black: #000;
        --color-white: #fff;

        --font-size1: 18px;
        --font-size2: 20px;
        --font-size3: 24px;
        --font-size4: 28px;
        --font-size5: 32px;
        --font-size6: 32px;
        --font-size7: 32px --line-height1:159%;
        --line-height2: 165%;
        --line-height3: 207%;
        --line-height4: 126%;
        --line-height5: 21.78px;
        --line-height6: 48px;

        --width-title: 700px;
    }


    .header {
        padding-left: 60px;
    }

    .ico {
        margin-right: auto;
    }

    .navigation {
        display: none;
    }

    .ico {
        margin-right: 440px;
    }

    .switch {
        margin-right: 10px;
    }

    .switch__en {
        margin-right: 11px;
    }

    .switch__divide {
        margin-right: 20px;
    }

    .burger {
        display: flex;
    }

    .hero {
        padding-left: 60px;
        padding-top: 180px;
        background-image: url(./assets/img/bg\ 768.jpg);
        background-size: contain;
        margin-bottom: 0;
    }

    .hero__box {
        max-width: 390px;
        padding-left: 0;
    }

    .hero__title {

        line-height: var(--line-height1);
        margin-bottom: 32px;
    }

    .hero__content {
        margin-bottom: 60px;
        line-height: 119%;
    }

    .hero__button {
        padding-top: 13px;
        padding-bottom: 8px;
        padding-right: 73px;
        line-height: var(--line-height2);
    }

    #skills {
        margin-top: -78px;
        margin-bottom: 141px;
    }

    .skills__title-box {
        margin-bottom: 65px;

    }

    .skills__sub-title {
        gap: 25px;
        padding-left: 32px;
        padding-right: 35px;
    }

    .skills__foto {
        padding-top: 88px;
        margin-bottom: 28px;
    }

    .skills__video {
        padding-top: 88px;
        margin-bottom: 28px;
    }

    .skills__foto-content {
        margin-bottom: 50px;
    }

    .skills__retouch {
        padding-top: 89px;
        margin-bottom: 28px;
    }

    .skills__audio {
        padding-top: 89px;
        margin-bottom: 28px;
    }

    .skills__title::before {
        width: 116px;
        right: 253px;
    }

    .skills__title::after {
        width: 116px;
        left: 253px;
    }

    #portfolio {
        margin-bottom: 100px;
    }

    .portfolio__title::after {
        left: 280px;
        width: 89px;
    }

    .portfolio__title::before {
        right: 279px;
        width: 90px;
    }



    .portfolio__title {
        margin-bottom: 70px;
    }





    .portfolio__button-left {

        left: 2%;
        top: 360px;

    }


    .portfolio__button-right {

        right: 2%;
        top: 360px;

    }


    .video__video-player-box {
        margin-bottom: 100px;
    }

    .video__title {
        margin-bottom: 70px;
    }

    .video__title::after {
        top: 47%;
        width: 116px;
        left: 253px;
    }

    .video__title::before {
        top: 47%;
        width: 117px;
        right: 252px;
    }

    .video__video-player {
        display: none;

    }

    .video__wrapper {
        display: flex;
        width: 100%;
        height: 418px;
    }

    .video__play-button {
        display: none;
    }

    .video__button-wrapper {
        display: flex;
        position: absolute;
        cursor: pointer;
    }

    .video__button-wrapper:hover #video__play {
        fill: var(--color-gold);
    }

    #price {
        margin-bottom: 80px;
    }

    .price__sub-title-container {
        gap: 50px;
    }

    .price__title-box {
        margin-bottom: 70px;
    }

    .price__sub-title-box {
        max-width: 415.5px;
    }

    .price__title::before {
        right: 248px;
    }

    .price__title::after {
        left: 248px;
    }

    .price__content {
        line-height: 36px;
    }

    .price__button {
        padding-bottom: 14px;
    }

    #contacts {
        background-image: url(./assets/img/contacts\ 768.jpg);
        background-size: auto;
        justify-content: center;
        padding-right: 0px;
        padding-top: 72px;
        padding-bottom: 110px;
        margin-bottom: 20px;
    }

    .contacts__title {
        text-align: center;
        margin-bottom: 52px;
    }

    .contacts__button-wrapper {
        text-align: center;
    }

    .info {
        flex-direction: column;
        justify-content: center;
    }

    .info__box {
        padding-right: 4px;
    }

    .info__link-school {
        text-align: center;
        padding-left: 0;
        padding-right: 2px;
        margin-top: -2px;
        margin-bottom: 20px;
    }

    .info__year {
        padding-right: 4px;
        margin-bottom: 0;
    }

    .info__c {
        width: 16px;
        height: 16px;
    }

    .info__c-box {
        padding-top: 12px;
        padding-right: 2px;
        margin-right: 18px;
    }

    .info__links {
        padding-top: 0px;
    }

}


@media (max-width:767px) {

    .slider {
        max-width: 400px;
        height: 498px;
    }

    .portfolio__img {
        max-width: 400px;
    }

    .portfolio__button-left {

        left: 4%;
        top: 500px;

    }


    .portfolio__button-right {

        right: 4%;
        top: 500px;

    }
}


@media (max-width:762px) {
    .video__wrapper {
        display: none;
    }

    .video__video-player {
        display: flex;
    }

    .ico {
        margin-right: 75px;
    }

    .hero {
        background-size: cover;
        margin-bottom: 250px;
    }

    #contacts {
        padding-left: 20px;
    }

    .contacts__title {
        text-align: center;
    }

    .contacts__button-wrapper {
        display: flex;
        justify-content: center;
    }


    progress {
        width: 67%;
    }

    .fullscreen {
        left: 89%;
    }

}

@media(max-width:600px) {

    progress {
        width: 65%;
    }

    .fullscreen {
        left: 90%;
    }
}

@media(max-width:550px) {

    #contacts {
        padding-left: 0;
    }

    .hero {
        padding-left: 60px;
        padding-right: 60px;
    }


    progress {
        width: 59%;
    }

    .fullscreen {
        left: 87%;
    }
}

@media (max-width:484px) {
    progress {
        width: 50%;
    }

    .fullscreen {
        left: 84%;
    }
}

@media (max-width:410px) {

    .slider {
        max-width: 330px;
        height: 412px;
    }

    .portfolio__img {
        max-width: 330px;
    }

    .portfolio__button-left {

        left: 4%;
        top: 540px;

    }

    .portfolio__button-right {
        right: 4%;
        top: 540px;
    }

    progress {
        width: 40%;
    }

    .fullscreen {
        left: 80%;
    }
}

@media (max-width:500px) {

    .video__play {
        left: 33%;
    }

}

@media (max-width:375px) {

    .hero {
        margin-top: 0;
    }

    progress {
        width: 30%;
    }

    .fullscreen {
        left: 76%;
    }
}

@media (max-width:320px) {

    .slider {
        max-width: 300px;
        height: 376px;
    }

    .portfolio__img {
        max-width: 300px;
    }

    .portfolio__button-left {

        left: 4%;
        top: 500px;

    }

    .portfolio__button-right {
        right: 4%;
        top: 500px;

    }

}

@media (max-height:347px) {
    .popup>ul {
        font-size: 18px;
        line-height: 10%;
    }
}

textarea:focus {
    padding-bottom: 21px;
}

input:focus {
    padding-top: 7px;
    padding-bottom: 5px;
}